<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div
                    class="healthbar text-center"
                    style="background-color: green; margin: 0; color: white;"
                    :style="{width: player.health + '%'}"
                >
                    {{ player.health }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div
                    class="healthbar text-center"
                    style="background-color: green; margin: 0; color: white;"
                    :style="{width: monster.health + '%'}"
                >
                    {{ monster.health }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!isGameStared">
        <div class="small-12 columns">
            <button id="start-game" @click="startGame">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-if="isGameStared">
        <div class="small-12 columns">
            <button id="attack" @click="attackMonster">ATTACK</button>
            <button id="special-attack" @click="specialAttackMonster">SPECIAL ATTACK</button>
            <button id="heal" @click="healPlayer">HEAL</button>
            <button id="give-up" @click="startGame">GIVE UP</button>
        </div>
    </section>
    <section class="row log" v-if="log.length > 0 && isGameStared">
        <div class="small-12 columns">
            <ul>
                <li v-for="mutation in log" :class="{'player-turn': mutation.caster === player.name, 'monster-turn': mutation.caster === monster.name}">
                    {{ mutation.caster }} {{Math.sign(mutation.amount) >= 0 ? 'hits' : 'heals'}} {{ mutation.reciever != mutation.caster ? mutation.reciever : 'himself' }} for {{ Math.abs(mutation.amount) }}
                </li>
            </ul>
        </div>
    </section>
</div>

<script src="app.js"></script>
</body>
</html>
